body { margin-top: 20px; }

/* LOAD */
.load
{
	max-width: 30%;
	margin: auto;
}

.load-grid
{
	display: grid;
	grid-template-areas: 'load';
	background-color: #BB00BB;
	padding: 10px;
	border-radius: 10px;
}

.load-grid > div
{
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	border-radius: 5px;
}

/* CONTENT */
.content
{
	max-width: 60%;
	margin: auto;
}

.content-grid
{
	display: grid;
	grid-template-areas:
		'address address address address address connect-button'
		'divider divider divider divider divider divider'
		'contract-balance contract-balance contract-balance contract-withdrawn contract-withdrawn contract-withdrawn'
		'user-balance user-balance user-balance user-withdrawn user-withdrawn user-withdrawn'
		'referred-users referred-users referred-users referral-reward referral-reward referral-reward'
		'possible-withdrawal possible-withdrawal possible-withdrawal possible-withdrawal possible-withdrawal withdraw'
		'withdrawal-maximum withdrawal-maximum withdrawal-maximum withdrawal-maximum referral-percentage referral-percentage';

	grid-gap: 10px;
	background-color: #2196F3;
	padding: 20px;
	border-radius: 10px;
}

.content-grid > div
{
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	border-radius: 5px;
}

div.address { grid-area: address; padding: 0px; }
.connect-button { grid-area: connect-button; }
.contract-balance { grid-area: contract-balance; }
.user-balance { grid-area: user-balance; }
.contract-withdrawn { grid-area: contract-withdrawn; }
.user-withdrawn { grid-area: user-withdrawn; }
.referred-users { grid-area: referred-users; }
.referral-reward { grid-area: referral-reward; }
.possible-withdrawal { grid-area: possible-withdrawal; }
.withdraw { grid-area: withdraw; }
.withdrawal-maximum { grid-area: withdrawal-maximum; }
.referral-percentage { grid-area: referral-percentage; }
div.divider { grid-area: divider; padding: 0px; margin: 0px; }

/* ERROR */
.error
{
	max-width: 30%;
	margin: auto;
}

.error-grid
{
	display: grid;
	grid-template-areas: 'error';
	background-color: #FF0000;
	padding: 10px;
	border-radius: 10px;
}

.error-grid > div
{
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	border-radius: 5px;
}
