body { margin-top: 20px; }

/* LOAD */
.load
{
	max-width: 30%;
	margin: auto;
}

.load > div.grid
{
	display: grid;
	grid-template-areas: 'load';
	background-color: #BB00BB;
	padding: 10px;
	border-radius: 10px;
}

.load > div.grid > div
{
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	border-radius: 5px;
}


/* CONNECT SECTION */
.connect-section
{
	max-width: 40%;
	margin: auto;
}

.connect-section > div.grid
{
	display: grid;
	grid-template-areas: 'address address address address address connect-button';
	grid-gap: 10px;
}

.connect-section > div.grid > div
{
	text-align: center;
}

div.address { grid-area: address; }
.connect-button { grid-area: connect-button; }



/* DEPOSIT SECTION */
.deposit-section
{
	max-width: 60%;
	margin: auto;
}

.deposit-section > div.grid
{
	display: grid;
	grid-template-areas:
		'contract-balance contract-balance contract-balance contract-withdrawn contract-withdrawn contract-withdrawn'
		'deposit-amount deposit-amount deposit-amount deposit-amount deposit-amount deposit';

	grid-gap: 10px;
	background-color: #2196F3;
	padding: 20px;
	border-radius: 10px;
}

.deposit-section > div.grid > div
{
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
	border-radius: 5px;
}

.contract-balance { grid-area: contract-balance; }
.contract-withdrawn { grid-area: contract-withdrawn; }
.referral { grid-area: referral; }
.deposit-amount { grid-area: deposit-amount; }
.deposit-button { grid-area: deposit; }


/* USER SECTION */
.user-section
{
	max-width: 60%;
	margin: auto;
}

.user-section > div.grid
{
	display: grid;
	grid-template-areas:
		'contract-balance contract-balance contract-balance contract-withdrawn contract-withdrawn contract-withdrawn'
		'user-deposit user-deposit user-deposit user-withdrawn user-withdrawn user-withdrawn'
		'referred-users referred-users referred-users referral-reward referral-reward referral-reward'
		'possible-withdrawal possible-withdrawal possible-withdrawal possible-withdrawal possible-withdrawal withdraw'
		'withdrawal-maximum withdrawal-maximum withdrawal-maximum withdrawal-maximum referral-percentage referral-percentage';

	grid-gap: 10px;
	background-color: #2196F3;
	padding: 20px;
	border-radius: 10px;
}

.user-section > div.grid > div
{
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
	border-radius: 5px;
}

.contract-balance { grid-area: contract-balance; }
.contract-withdrawn { grid-area: contract-withdrawn; }
.user-deposit { grid-area: user-deposit; }
.user-withdrawn { grid-area: user-withdrawn; }
.referred-users { grid-area: referred-users; }
.referral-reward { grid-area: referral-reward; }
.possible-withdrawal { grid-area: possible-withdrawal; }
.withdraw-button { grid-area: withdraw; }
.withdrawal-maximum { grid-area: withdrawal-maximum; }
.referral-percentage { grid-area: referral-percentage; }


/* ERROR */
.error
{
	max-width: 30%;
	margin: auto;
}

.error > div.grid
{
	display: grid;
	grid-template-areas: 'error';
	background-color: #FF0000;
	padding: 10px;
	border-radius: 10px;
}

.error > div.grid > div
{
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	border-radius: 5px;
}
